@model TaskWebAppClient.Models.FridgeProduct

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Fridge product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FridgeId" class="control-label"></label>
                <input asp-for="FridgeId" class="form-control" />
                <span asp-validation-for="FridgeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" asp-action="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @ViewBag.message
</div>

<div>
    @Html.ActionLink("Back to Fridge products", "Index", "FridgeProducts", new { fridgeId = Model.FridgeId})
</div>

